@import "../../App.scss";

.contact {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;

  @include tablet {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 50px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }

    .containerDetails {
      .miniForm {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
          gap: 10px;
        }
      }

      .mailSvg {
        position: absolute;
        margin: auto;
        bottom: 20px;

        @include tablet {
          left: 250px;
        }

        @include mobile {
          left: 2px;
          top: 100px;
        }
      }
    }
  }

  .formContainer {
    flex: 1;

    @include tablet {
      padding: 50px;
      width: 100%;
    }

    @include mobile {
      padding: 50px;
      width: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        gap: 10px;
      }
      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include tablet {
          padding: 20px;
        }

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;

        @include tablet {
          padding: 10px;
        }

        @include mobile {
          padding: 10px;
        }
      }

      button:hover {
        background-color: lightyellow;
      }
    }
  }
}
